/** Main **/
main {
  width: 1000px;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense; */
  display: flex;
  flex-flow: row wrap;
}

article {
  flex-basis: auto;
  flex-grow: 999;
  flex-shrink: 0;

  width: 33.3%;
  padding: 20px;
  transition: transform .2s;
}

article:nth-of-type(3n) {
  width: 66.6%;
}

article * {
  z-index: 1;
}

article:hover {
  transform: translateY(-5px);
}

article h2 {
  font-size: 28px;
}

article .content {
  position: relative;
  min-height: 350px;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px var(--color-shadow-card);
}

article .content:not(.illustrated) {
  background-color: var(--color-bg-card);
}

article .content.illustrated {
  background-color: var(--color-bg-tag);
}

article a.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
}

article .illustration {
  z-index: -1!important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

article .infos a {
  position: relative;
  text-decoration: none;
  color: currentcolor;
  font-weight: 700;
  border-bottom: 1px solid transparent;
}

article .infos a:hover {
  border-color: currentcolor;
}

article .categories {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

article .category {
  padding: 4px 10px;
  text-decoration: none;
  color: currentcolor;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform : uppercase;
  white-space: nowrap;
  background-color: transparent;
  transition: color .3s, background .3s;
}

article .category:hover {
  color: var(--color-tag);
  background-color: var(--color-bg-tag);
}

article .illustrated {
  color: var(--color-font-illustrated-card);
  text-shadow: 0px 0px 10px var(--color-font-illustrated-shadow-card);
}

@media screen and (max-width: 1440px) {
  /** laptop L **/
}
@media screen and (max-width: 1024px) {
  /** laptop **/
  article {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  /** tablet **/
  article {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  /** Mobile **/
}