form {
  margin: 0;
  padding: 0;
  width: 100%;
}

textarea {
  width: 100%;
  min-height: 64px;
  border-radius: 5px;
  padding: 10px;
}

textarea::placeholder {
  font-size: 14px;
  font-family: var(--font-primary);
}

button {
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.9;
  background-color: transparent;
  border: 1px solid var(--border-comment);
  color: var(--color-font);
  cursor: pointer;
}

button.primary {
  background-color: var(--color-font);
  color: var(--color-body);
}
