{% extends 'base.html'%}

{% block 'head' %}
    {% load static %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <link rel="stylesheet" href="{% static 'styles/account_profile.css' %}">
{% endblock %}

{% block 'body' %}
    <main>
        <h2>Utilisateur</h2>
        <form action="{{ request.path }}" method="POST" id="user">
            {% csrf_token %}
            {% for field in userform %}
            <p>
                {{ field.label_tag }} {{ field }} {{ field.errors }}
            </p>
            {% endfor %}
            <input type="submit" value="Enregistrer" name="userform">
        </form>
        <h2>Profil Utilisateur</h2>
        <form action="{{ request.path }}" method="POST" enctype="multipart/form-data" id="profile">
            {% csrf_token %}
            {{ profileform.media}}
            {% for field in profileform %}
            <p>
                {{ field.label_tag }} {{ field }} {{ field.errors }}
            </p>
            {% endfor %}
            <input type="submit" value="Enregistrer" name="profileform">
        </form>
    </main>
{% endblock %}