/* Fonts import */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Fira+Code&display=swap');

:root {
  --font-primary: 'Noto sans', sans-serif;
  /** Breakpoints **/
  --laptop-L: 1440px;
  --laptop: 1024px;
  --tablet: 768px;
  --mobile: 425px;
}

[data-theme="dark"] {
  --color-theme: #222327;
  --color-font: #fff;
  --color-body: #222327;
  --color-nav-menu: #3b3c42;
  --color-tag: #fff;
  --color-bg-tag: #414242;
  --color-title-mobile: #fff;
  --color-bg-author-card:#28292e;
  --color-bg-suggestions: #303237;
  --color-bg-suggestions-hover: #3a3d44;
  --color-bg-comments: #28292e;
  --border-comment: rgba(255, 255, 255, 0.6);
  --color-comment-dot: rgba(255, 255, 255, 0.5);
  --color-figcaption: #c3c6c7;
  --color-bg-code: #32343a;
  --color-font-code: #f4f4f4;

  --color-bg-card: #f4f4f4;
  --color-shadow-card: transparent;
  --color-font-illustrated-card: #fff;
  --color-font-illustrated-shadow-card: #222327;
}
[data-theme="light"] {
  --color-theme: #f4f4f4;
  --color-font: #000;
  --color-body: #f4f4f4;
  --color-nav-menu: #e6e4e4;
  --color-tag: #fff;
  --color-bg-tag: #414242;
  --color-title-mobile: #fff;
  --color-bg-author-card: #c3c6c7;
  --color-bg-suggestions: #9fa1a7;
  --color-bg-suggestions-hover: #85868c;
  --color-bg-comments: #c3c3c3;
  --border-comment: rgba(0, 0, 0, 0.6);
  --color-comment-dot: rgba(0, 0, 0, 0.5);
  --color-figcaption: #c3c6c7;
  --color-bg-code: #32343a;
  --color-font-code: #f4f4f4;

  --color-bg-card: #e2e5ed;
  --color-shadow-card: rgba(0, 0, 0, 0.2);
  --color-font-illustrated-card: #fff;
  --color-font-illustrated-shadow-card: #222327;
}
