{% load tags %}
<nav>
    <div class="nav-title">
        <!-- Title site -->
        <a href="/">Mon Blog</a>
    </div>
    <div class="nav-links">
        <!-- Differents links -->
        <a href="#" class="nav-close">
            <span class="hidden">Close</span>
        </a>
        <ul>
            {% tags %}
            <!-- Search input -->
            <li>
                <a href="#" class="search-icon">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.420346,15.5800244 L24,21.1596784 L21.1596784,24 L15.5800244,18.420346 C13.9925104,19.4717887 12.088789,20.0841064 10.0420532,20.0841064 C4.49598037,20.0841064 0,15.5881261 0,10.0420532 C0,4.49598037 4.49598037,0 10.0420532,0 C15.5881261,0 20.0841064,4.49598037 20.0841064,10.0420532 C20.0841064,12.088789 19.4717887,13.9925104 18.420346,15.5800244 Z M10.0420532,16.0672851 C13.3696969,16.0672851 16.0672851,13.3696969 16.0672851,10.0420532 C16.0672851,6.71440951 13.3696969,4.01682129 10.0420532,4.01682129 C6.71440951,4.01682129 4.01682129,6.71440951 4.01682129,10.0420532 C4.01682129,13.3696969 6.71440951,16.0672851 10.0420532,16.0672851 Z">
                        </path>
                    </svg>
                </a>
            </li>
            <li class="user-actions">
                <a href="#">
                    <span class="username">{{ user.username }}</span>
                    {% if user.is_authenticated %}
                    <img src="{{ user.profile.get_image }}" alt="User profile">
                    {% else %}
                    <img src="/media/faceless.svg" alt="User profile">
                    {% endif %}
                </a>
                {% if user.is_authenticated %}
                <ul>
                    {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">Administation</a></li>
                    {% endif %}
                    <li><a href="{% url 'profile' %}">Mon profil</a></li>
                    <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{% url 'social:begin' 'google-oauth2' %}">Se connecter</a></li>
                </ul>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="nav-overlay"></div>
    <div class="nav-menu-button">
        <div id="menu-button">
            <div class="menu-buttons-elements">
                <span class="burger">☰</span>
                <span>Menu</span>
            </div>
        </div>
    </div>
</nav>

<div class="modal">
    <div class="modal-head">

    </div>
    <div class="modal-body">

    </div>
</div>