{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Profil de {{ user }} | Mon super blog{% endblock %}

{% block 'head' %}
<!-- SEO meta tags -->
<meta name="robots" content="noindex, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" content="fr">

<!-- OpenGraph meta tags -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ post.title }}">
<meta property="og:site_name" content="Mon blog">
<meta property="og:url" content="{% url 'profile' user.id %}">
{% if user.profile.image %}
<meta property="og:image" content="{{ user.profile.image.url }}">
{% endif %}

<!-- Twitter meta tags -->
<meta name="twitter:card" content="app">
<meta name="twitter:site" content="@twitteraccount">
<meta name="twitter:description" content="{{ post.description }}">
<meta name="twitter:app:country" content="fr">

<!-- Style sheets -->
<link rel="stylesheet" href="{% static 'styles/blog.css' %}">
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block 'body' %}
<div class="profile">

    <!-- Image profile -->
    {% if request.user.profile.image %}
    <img src="{{ user.profile.image.url }}" alt="Image de profil">
    {% else %}
    <p>Pas d'image.</p>
    {% endif %}

    <!-- Username -->
    <h1>{{ user }}</h1>

    <!-- Biography -->
    <div class="bio">
        {{ user.profile.bio }}
    </div>

</div>

<main>
    {% for post in posts %}
    {% include 'components/post_card.html' %}
    {% endfor %}
</main>

{% endblock %}
