<div class="comment" data-id="{{ comment.id }}" id="comment{{ comment.id }}">
    <img src="{{ comment.author.profile.get_image }}" alt="{{ comment.author }}'s profile image" class="profile">
    <div class="body">
        <div class="head">
            <span class="author">{{ comment.author }}</span>
            <span class="dot"></span>
            <span class="date">{{ comment.published_date }}</span>
            {% if comment.modified %}
            <span class="dot"></span>
            <span class="date">(modifié)</span>
            {% endif %}
        </div>
        <div class="content">
            <div class="text">{{ comment.body }}</div>
            <div class="feedback">
                <a href="#" class="like{% if request.user in comment.user_liked.all %} liked{% endif %}">
                    <svg class="icon block" viewBox="0 0 12 12" aria-hidden="true">
                        <path
                            d="M11.045,2.011a3.345,3.345,0,0,0-4.792,0c-.075.075-.15.225-.225.3-.075-.074-.15-.224-.225-.3a3.345,3.345,0,0,0-4.792,0,3.345,3.345,0,0,0,0,4.792l5.017,4.718L11.045,6.8A3.484,3.484,0,0,0,11.045,2.011Z">
                        </path>
                    </svg>
                    <span class="likes">{{ comment.likes }}</span>
                </a>
                <span class="dot"></span>
                <a href="#" class="reply">Répondre</a>
                {% if request.user == comment.author %}
                <span class="dot"></span>
                <a href="#" class="edit">Editer</a>
                <span class="dot"></span>
                <a href="#" class="delete">Supprimer</a>
                {% endif %}
            </div>
        </div>
        <div class="replies">
            {% for comment in comment.replies %}
                {% include 'components/comment.html' %}
            {% endfor %}
        </div>
    </div>
</div>