.profile {
    text-align: center;
    padding-bottom: 30px;
    color: var(--color-font);
}

.profile img {
    width: 128px;
    border-radius: 25px;
}

.profile h1 {
    display: block;
    width: 100%;
    text-align: center!important;
}

.profile .bio {
    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}